.main {
  display: grid;
  grid-template-columns: auto 4fr;
  gap: 10px;
  @apply border-b-2 border-neutral-1050 p-2;
  &__page {
    @apply w-10 h-10 rounded-full flex items-center justify-center bg-[#F4DFC4];
  }
  &__order {
    @apply mb-0;
  }
}
