.ldshourglass {
    display: flex;
    margin-left: 40%;
    margin-top: 70%;
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: black solid 4px;
    border-radius: 100%;
    
  }
  .ldshourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid rgb(0, 0, 0);
    border-color: rgb(255, 135, 6) transparent rgb(255, 135, 6) transparent;
    animation: ldshourglass 1.2s infinite;
  }
  @keyframes ldshourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  