.main {
  @apply p-3 bg-transparent;

  &__header {
    @apply flex  justify-between mx-auto;
  }
  &__heading {
    @apply text-[#303030] md:text-5xl text-sm;
  }
  &__donationInfo {
    @apply text-primary border border-[#F1DEC7] rounded-sm p-3 flex flex-col text-[#3A3A3A] mb-3;
  }
  &__donationdata {
    @apply w-full;
  }
  &__img {
    @apply pb-2 rounded-sm w-full object-contain aspect-auto;
  }
  &__about {
    @apply font-bold  mb-0 pb-4 pt-2 leading-4;
  }
  &__value {
    @apply text-sm2 text-[#3A3A3A]  pb-1 mb-0 flex gap-1 items-center;
  }
  &__chip_container {
    @apply text-xs flex items-center pb-4;
  }
  &__chip {
    @apply bg-[#F7DCBD] px-3 text-sm font-bold leading-none mx-2 rounded  flex  items-center gap-1 py-3;
  }

  &__span {
    @apply font-bold text-base;
  }
  &__btns {
    @apply flex gap-2 font-bold;
  }
  &__Share {
    @apply text-xs text-[#3F3F3F] w-full h-9 flex-1 bg-[#FFE6C3] mr-2 rounded border border-[#F5D9B1];
  }
  &__Donate {
    @apply text-xs w-full h-9 bg-primary flex-1 rounded  text-white;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 29px;
    height: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: -webkit-linear-gradient(
        transparent 33%,
        rgba(201, 29, 29, 0.1) 33%,
        rgba(0, 0, 0, 0.1) 66%,
        transparent 66%
      ),
      -webkit-linear-gradient(top, rgba(183, 20, 20, 0.25), rgba(185, 32, 32, 0.25)),
      -webkit-linear-gradient(left, #dd2289, #febc08);

    border-radius: 29px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}
