.footer {
  position: absolute;
  bottom: 0;

  min-height: 85px;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #f4dfc4;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 120%;
}
.text {
  margin-top: 15px;
}
