.cardRoot {
  @apply grid;
  grid-template-columns: 1fr;
  &__image {
    @apply aspect-video relative w-full;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  &__body {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
    @apply my-auto px-6;
  }
  &__span {
    @apply text-sm font-semibold text-white;
  }
  &__title {
    @apply mb-0 font-bold text-white leading-6;
  }
  &__desc {
    @apply text-sm leading-[14.5px] font-normal line-clamp-2 text-white;
  }
}
/* .cardRoot {
  @apply bg-primary3 w-full relative;
  &__image {
    @apply aspect-video w-full  absolute;
  }
  &__body {
    @apply absolute px-4 py-2;
  }
  &__title {
    @apply font-bold text-white;
  }
  &__desc {
    @apply line-clamp-2 text-white;
  }
} */
